
.mainsec{
  /* width: 1529px; */
  /* width: 1650px; */
  width:1250px;
  /* height: 707px; */
  height:820px;
  margin: 6px 0 90px;
  padding: 16px 57px 81px 88px;
  background-color: #f5f4f9;
}
.imgRectangle {
  /* width: 452px;
  height: 503px; */
  width: 350px;
  height: 450px;
  margin: 53.7px 22px 100px 88px;
  background-color: #ffffff;
}
.imgRectangle img{
  width: 100%;
  height: 100%;
  border-radius: 13px;
}
.col-md-8{
  margin-left: 10px !important;
}
.heading{
  width: 550px;
  height: 83px;
  /* margin: 67.7px 41.3px 74px 226px; */
  margin: 69.7px 35.3px 25px 210px;
  font-family: HelveticaNeue;
  /* font-size: 70px; */
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.title{
  width: 804px;
  height: 95px;
  /* margin: 74px 75px 38px 110px; */
  margin: 4px 36px 2px 105px;
  font-family: HelveticaNeue;
  /* font-size: 30px; */
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.content{
  width: 804px;
  height: 95px;
  margin: 38px 18px 38px 110px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.paragraph{
  /* width: 804px;
  height: 161px;

  margin: 38px 18px 19px 110px;
  font-family: HelveticaNeue;
  font-size: 30px; */
  width: 750px;
  height: 161px;
  margin: 5px 15px 4px 100px;
  font-family: HelveticaNeue;
  font-size: 22px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#traningDetails {
  font-weight: 500 !important;
}
.paragraph span p{
  display: inline !important;
}
.buttonContainer{
  margin-left: 375px;
  margin-right: 57px;
}
.space{
  width: 1529px;
  /* width:1200px; */
  height: 83px;
}

.rectangle {
  /* width: 330px;
  height: 95px;
  margin: 19px 57px 24px 475px;
  padding: 30px 74px 29px 73px;
  border-radius: 11px;
  border: solid 2px #f47c01; */
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0px 20px 7px 360px;
  /* padding: 25px 50px 25px 65px; */
  padding: 22px 40px 42px 47px;
  border-radius: 11px;
  border: solid 2px #f47c01;
}
.rectangle a{
  cursor: context-menu !important;
  text-decoration: none !important;
}

.knowMore {
  /* width: 167px;
  height: 36px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f; */
  width: 150px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}

.traning {
  /* width: 1529px; */
  width: 1150px;
  height: 98px;
  /* margin: 24px 0 80px; */
  /* margin: 10px 0 30px;; */
  /* padding: 29px 669px 31px 600px; */
  padding: 28px 550px 31px 450px;
  border-radius: 29px;
  background-color: #262b4f;
}
.upcommingTraning{
  width: 260px;
  height: 38px;
  font-family: HelveticaNeue;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.trainingTxt {
  /* width: 295px; */
  width: 200px;
  height: 83px;
  /* margin: 80px 98px 63px 29px; */
  /* margin: 80px 98px 63px 600px; */
  margin: 25px 0px 0px 450px;
  font-family: HelveticaNeue;
  /* font-size: 70px; */
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
  text-align: center;
}
.imgContainer{
  /* width: 1920px; */
  width: 1200px;
  /* height: 1000px; */
  height: 550px;
  /* margin-top: 350px;
  margin-left: 100px; */
  /* padding: 10px 0 0; */
  background-color: #ffffff;
}
.card1{
  /* width: 370px;
  height: 451px;
  margin: 63px 29px 60px 163px;
  padding: 88px 0 0; */
  height: 230px;
  width: 270px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #fbba77, #dfa871);
}
.websiteUI {
  /* width: 108px; */
  height: 27px;
  /* margin: 57px 138.4px 13.1px 123.6px; */
  margin: 33px 30.4px 13.1px 20.6px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.cardText{
  /* width: 328px; */
  width: 220px;
  height: 62px;
  /* margin: 13.1px 21px 11px; */
  margin: 19.1px 10px 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.card2{
  /* width: 370px;
  height: 451px;
  margin: 63px 29px 60px 163px;
  padding: 88px 0 0; */
  width: 270px;
  height: 230px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #41eae3, #2293b7);
}
.redesign {
  /* height: 27px;
  margin: 57px 138.4px 13.1px 123.6px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; */
  height: 27px;
  /* margin: 57px 138.4px 13.1px 123.6px; */
  margin: 33px 30.4px 13.1px 20.6px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.card3{
  /* width: 370px;
  height: 451px;
  margin: 63px 29px 60px 163px;
  padding: 88px 0 0; */
  width: 270px;
  height: 230px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #69529f, #463864);
}
.applicationUI {
  /* width: 136px; */
  /* height: 27px;
  margin: 41.6px 103.4px 13.1px 88.6px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; */
  height: 27px;
  /* margin: 57px 138.4px 13.1px 123.6px; */
  margin: 33px 30.4px 13.1px 20.6px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.card4{
  width: 270px;
  height: 230px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #4386d2, #0962c5);
}
.card5{
  width: 270px;
  height: 230px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #a5a2f6, #564fd6);
}
.card6{
  width: 270px;
  height: 230px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #ff8088, #984141);
}
.ellipse {
  width: 70px;
  height: 76px;
  padding: 8.6px 9.9px 14.2px 7px;
  background-color: #2a2f52;
}
.path {
  /* width: 370px; */
  width: 300px;
  height: 500px;

  /* margin: 63px 29px 60px 163px; */
  /* margin: 63px 29px 60px 163px; */
  /* padding: 88px 0 0; */
  padding:30px;
  background: white;
  /* background-image: linear-gradient(to bottom, #fbba77, #dfa871); */
}
.path2 {
  width: 250px;
  height: 365px;
  padding:30px;
  background: white;
  /* background-image: linear-gradient(to bottom, #fbba77, #dfa871); */
}
.path img{
  /* width:350px; */
  width:100%;
  /* height:425px; */
  /* height:500px; */
  height:350px;
  padding: 10px;
  /* background-image: linear-gradient(to bottom, #fbba77, #dfa871); */
  background: white;
}
.path2 img{
  /* width:350px; */
  width:100%;
  /* height:425px; */
  height:300px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #fbba77, #dfa871);
}
.exploreMore{
  width: 150px;
  height: 36px;
  font-family: HelveticaNeue;
  /* font-size: 30px; */
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.exploreRectangle {
  /* width: 330px;
  height: 95px; */
  /* margin: 19px 57px 24px 226px; */
  /* margin: 19px 57px 24px 15px;
  padding: 30px 74px 29px 73px;
  border-radius: 11px; */
  /* border: solid 2px #f47c01; */
  width: 175px;
  height: 35px;
  /* margin: 20px 25px 5px 5px;
  padding: 20px 25px 27px 24px; */
  margin: 20px 25px 9px 7px;
  padding: 5px 21px 37px 20px;
  border-radius: 11px;
  border: solid 2px #f47c01;
}

.mostViewed{
  /* width: 1529px; */
  width: 1200px;
  height: 707px;
  /* margin: 78px 0 36px; */
  padding: 48px 66px 93px 62px;
  background-color: #f5f4f9;
}
.mostViewedTxt{
  /* width: 804px; */
  /* height: 83px;
  margin: 0 209px 66px 324px;
  font-family: HelveticaNeue;
  font-size: 70px;
  font-weight: bold; */
  height: 83px;
  /* margin: 0px 120px 5px 400px; */
  margin: 0px 110px 5px 490px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.card-1{
  /* width: 370px;
  height: 417px;
  margin: 0 30px 0 0;
  padding: 82px 49px 108px 72px; */
  width: 250px;
  height: 300px;
  margin: 0 15px 0 0;
  padding: 50px 25px 50px 25px;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 40px 40px 0 rgba(197, 195, 249, 0.15);
  background-color: #131b7c;
}
.card-2{
  /* width: 370px;
  height: 417px;
  margin: 0 30px 0 0;
  padding: 82px 49px 108px 72px; */
  width: 250px;
  height: 300px;
  margin: 0 15px 0 0;
  padding: 50px 25px 50px 25px;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 40px 40px 0 rgba(197, 195, 249, 0.15);
  background-color: #f36f21;
}
.card-3{
  /* width: 370px;
  height: 417px;
  margin: 0 30px 0 0;
  padding: 82px 49px 108px 72px; */
  width: 250px;
  height: 300px;
  margin: 0 15px 0 0;
  padding: 50px 25px 50px 25px;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 40px 40px 0 rgba(197, 195, 249, 0.15);
  background-color: #a5a2f6;
}
.design{
  /* width: 125px;
  height: 54px;
  margin: 9.8px 123px 7px 1px;
  font-family: Roboto;
  font-size: 41px; */
  width: 100px;
  height: 40px;
  margin: 6.8px 45px 20px 5px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.02;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.lormSpam{
  /* width: 248px;
  height: 81px;
  margin: 7px 0 0 1px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 26px; */
  width: 200px;
  height: 60px;
  margin: 7px 0 0 1px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


