<div class="mainsec">
  <div class="space"></div>
  <div class="row">
    <div class="col-md-4">
      <div class="imgRectangle">
        <img src="../../assets/user.png" alt="kundan">
      </div>
    </div>
    <div class="col-md-7">
      <h1 class="heading">Anisha Roy</h1>
      <h2 class= "title"><strong>“The more that you read, the more things you will know.<br>The more that you learn, the more places you’ll go.”</strong></h2>
      <div class="paragraph">
        <span>
          <p id="traningDetails">Training Detail</p>&nbsp;
          <p>Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit. Nam feugiat magna consequat, lacinia lacus ut,<br>varius nibh. Ut luctus non purus quis sodales. Mauris vel mi id<br>eros tempor consectetur. Ut ege</p>
        </span>
      </div>
      <div class="rectangle">
        <a class="knowMore">Know More</a>
      </div>
    </div>
  </div>
  <div class ="traning">
    <p class="upcommingTraning">Upcoming Training</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="trainingTxt">Training</p>
    </div>
  </div>
</div>
<div class="imgContainer">
  <div class="row">
    <div class="col-md-3 path">
      <div class="card">
        <img class="card-img-top" src="../../assets/user2.png" alt="Card image">
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="card-deck">
          <div class="card1" (click)= "getDttails()">
            <div class="card-body">
              <p class="websiteUI">Website UI</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
          <div class="card2">
            <div class="card-body">
              <p class="redesign">ReDesign</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
          <div class="card3">
            <div class="card-body ">
              <p class="applicationUI">Application UI</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
        </div>

        <!-- <div class="class-md-4 path2">
          <img src="../../assets/shirt.jpg" alt="shirt" >
        </div>

        <div class="col-md-4 path2">
          <img src="../../assets/jeans.jpg" alt="jeans">
        </div>

        <div class="col-md-4 path2">
          <img src="../../assets/jblspeaker.jpg" alt="jblspeaker">
        </div> -->
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card4">
            <div class="card-body">
              <p class="websiteUI">Mobile App UI</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
          <div class="card5">
            <div class="card-body">
              <p class="redesign">Web App UI</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
          <div class="card6">
            <div class="card-body ">
              <p class="applicationUI">Web Elements</p>
              <p class="cardText"> For Powerfull and most secure Network Solutions for smart Home & Business</p>
            </div>
          </div>
        </div>
        <!-- <div class="ellipse">+</div> -->
      </div>

      <!-- <div class="row">
        <div class="class-md-4 path2">
          <img src="../../assets/shirt.jpg" alt="shirt" >
        </div>

        <div class="col-md-4 path2">
          <img src="../../assets/jeans.jpg" alt="jeans">
        </div>

        <div class="col-md-4 path2">
          <img src="../../assets/jblspeaker.jpg" alt="jblspeaker">
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="exploreRectangle">
            <a class="exploreMore">Explore More</a>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
<div class="mostViewed">
  <div class="text-center">
    <p class="mostViewedTxt">Most Viewed Training</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="card-deck">
        <div class="card-1">
          <div class="card-body design">
            <p class="card-text">Design</p>
            <p class="lormSpam">Lorm Spam Door Somith Door</p>
          </div>
        </div>
        <div class="card-2">
          <div class="card-body design">
            <p class="card-text">Sketch</p>
            <p class="lormSpam">Lorm Spam Door Somith Door</p>
          </div>
        </div>
        <div class="card-3">
          <div class="card-body design">
            <p class="card-text">Testing</p>
            <p class="lormSpam">Lorm Spam Door Somith Door</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


