.container{
  margin-top: 100px;
}
.border{
  border: 1px solid #ccc!important;
  border-radius: 16px;
}
.imageContainer{
  width: 175px;
  height: 150px;
  margin: 0 33px 0 0;
}
.card{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 90%;
  height: 150px;
  background: #0275d8;
}
.imageContainer img{
  width: 100%;
  height: 150px;
}
table{
  margin: 5px;
}
.instructionalDesign {
  width: 673px;
  height: 28px;
  /* margin: 20px 81px 13px 33px;
  font-family: HelveticaNeue;
  font-size: 24px; */
  margin: 25px 48px 5px 25px;
  font-family: HelveticaNeue;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.university {
  /* width: 376px;
  height: 24px;
  margin: 13px 374px 13px 37px;
  font-family: OpenSans;
  font-size: 18px; */
  width: 350px;
  height: 24px;
  margin: 10px 350px 7px 25px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.courseDetails {
  /* width: 376px;
  height: 24px;
  margin: 13px 374px 26.1px 37px;
  font-family: OpenSans;
  font-size: 18px; */
  width: 350px;
  height: 24px;
  margin: 13px 300px 5.1px 25px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.rating{
  margin-left: 25px;
}
.rectangle {
  /* width: 330px;
  height: 95px;
  margin: 19px 57px 24px 475px;
  padding: 30px 74px 29px 73px;
  border-radius: 11px;
  border: solid 2px #f47c01; */
  /* justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0px 20px 7px 360px; */
  /* padding: 25px 50px 25px 65px; */
  justify-content: center;
  width: 164px;
  height: 40px;
  margin: 50px 20px 7px 191px;
  padding: 9px 35px 40px 40px;
  border-radius: 11px;
  border: solid 2px #f47c01;
}
.rectangle a{
  cursor: context-menu !important;
  text-decoration: none !important;
}

.knowMore {
  /* width: 167px;
  height: 36px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f; */
  width: 150px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.detailRectangle {
  /* width: 1209px;
  height: 730px;
  margin: 233px 40.3px 0 108px;
  padding: 31px 20px 48px 13px; */
  width: 960px;
  height: 500px;
  margin: 0px 20.3px 0 194px;
  /* padding: 5px 20px 10px 2px; */
  padding: 13px 20px 10px 25px;
  border: solid 0.6px #f47c01;
  background-color: #ffffff;
}
.detailRectangle .row{
  height: 180px !important;
}
.carDetails{
  margin-left: 20px;
  margin-top: 10px;
}
.name {
  /* width: 69px;
  height: 28px;
  margin: 10px 7px 21px 62px;
  font-family: HelveticaNeue;
  font-size: 24px; */
  width: 60px;
  height: 10px;
  margin: 21px 7px 20px 45px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.trainingSpecification {
  /* width: 264px;
  height: 28px;
  margin: 21px 5.1px 13px 62px;
  font-family: HelveticaNeue;
  font-size: 24px; */
  width: 220px;
  height: 20px;
  margin: 10px 3.1px 9px 45px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.loremIpsum {
  /* width: 780px;
  height: 112px;
  margin: 13px 61px 1px 70px;
  font-family: SegoeUI;
  font-size: 20px; */
  width: 515px;
  height: 25px;
  margin: 13px 61px 1px 45px;
  font-family: SegoeUI;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.courseTime {
  /* width: 264px;
  height: 28px;
  margin: 1px 5.1px 63px 62px;
  font-family: HelveticaNeue;
  font-size: 24px; */
  width: 264px;
  height: 60px;
  margin: 50px 5.1px 51px 45px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.courseDetail {
  /* width: 88px;
  height: 19px;
  margin: 5px 97px 20.2px 56px;
  font-family: OpenSans;
  font-size: 14px; */
  width: 88px;
  height: 20px;
  margin: 1px 48px 20.2px 52px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.buttonRectangle {
  /* width: 180px;
  height: 53px;
  margin: 74.1px 13.1px 0 7px;
  padding: 19px 38px 15px 39px; */
  width: 190px;
  height: 53px;
  margin: -126.9px 14.1px 11px 117px;
  padding: 15px 38px 15px 38px;
  border-radius: 11px;
  border: solid 2px #f47c01;
}
.trainerProfile {
  width: 106px;
  height: 19px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #262b4f;
}
.joinRectangle{
  /* width: 180px;
  height: 53px;
  margin: 74.1px 141px 0 11px;
  padding: 19px 55px 15px 56px; */
  width: 190px;
  height: 53px;
  margin: -63.9px 83px 0 356px;
  padding: 16px 56px 15px 50px;
  border-radius: 11px;
  border: solid 2px #f47c01;
  background-color: #f47c01;
}
.joinNow {
  width: 70px;
  height: 19px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

