<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-hover">
        <tbody>
          <tr>
            <div class="row">
              <div class="col-md-2">
                <div class="imageContainer">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">ILLINOIS</h5>
                      <p class="card-text">College of the Day. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <h6 class="instructionalDesign">Instruction Design Foundations and Applications</h6>
                <p class="university">University of Illinois at Urbana Champaign</p>
                <p class ="courseDetails">Course Details</p>
                <div class="rating">
                  <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" style="color: #ffc107;font-size: 30px;"></rating> (200 students)
                </div>
              </div>
              <div class="col-md-3">
                <div class="rectangle">
                  <a class="knowMore">Know More</a>
                </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="row">
              <div class="col-md-2">
                <div class="imageContainer">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">ILLINOIS</h5>
                      <p class="card-text">College of the Day. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <h6 class="instructionalDesign">Instruction Design Foundations and Applications</h6>
                <p class="university">University of Illinois at Urbana Champaign</p>
                <p class ="courseDetails">Course Details</p>
                <div class="rating">
                  <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" style="color: #ffc107;font-size: 30px;"></rating> (200 students)
                </div>
              </div>
              <div class="col-md-3">
                <div class="rectangle">
                  <a class="knowMore">Know More</a>
                </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="row">
              <div class="col-md-2">
                <div class="imageContainer">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">ILLINOIS</h5>
                      <p class="card-text">College of the Day. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <h6 class="instructionalDesign">Instruction Design Foundations and Applications</h6>
                <p class="university">University of Illinois at Urbana Champaign</p>
                <p class ="courseDetails">Course Details</p>
                <div class="rating">
                  <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" style="color: #ffc107;font-size: 30px;"></rating> (200 students)
                </div>
              </div>
              <div class="col-md-3">
                <div class="rectangle">
                  <a class="knowMore">Know More</a>
                </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="row">
              <div class="col-md-2">
                <div class="imageContainer">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">ILLINOIS</h5>
                      <p class="card-text">College of the Day. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <h6 class="instructionalDesign">Instruction Design Foundations and Applications</h6>
                <p class="university">University of Illinois at Urbana Champaign</p>
                <p class ="courseDetails">Course Details</p>
                <div class="rating">
                  <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" style="color: #ffc107;font-size: 30px;"></rating> (200 students)
                </div>
              </div>
              <div class="col-md-3">
                <div class="rectangle">
                  <a class="knowMore">Know More</a>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="detailRectangle">
    <div class="row">
      <div class="col-md-2">
        <div class="card carDetails" style="width: 150px;">
          <img class="card-img-top" src="../../assets/user.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="name">Name</h4>
        <p class="trainingSpecification">Training Specification</p>
        <p class="loremIpsum">Lorem ipsum dolor sit amet consectetur adipiscing elit Nam feugiat magna-consequat<br> lacinia-lacus ut varius nibh Ut luctus non purus quis sodales Mauris vel mi id eros<br> tempor consectetur Ut ege</p>
        <p class="courseTime">Course Time</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- <div class="card-deck">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the first card</p>
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the second card</p>
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the third card</p>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fourth card</p>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fourth card</p>
        </div>
      </div>
    </div> -->

    <div class=" row">
      <div class="col-md-12">
        <div class="card-deck">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the first card</p>
            </div>
          </div>
          <div class="card bg-warning">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the second card</p>
            </div>
          </div>
          <div class="card bg-success">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the third card</p>
            </div>
          </div>
          <div class="card bg-danger">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the fourth card</p>
            </div>
          </div>
          <div class="card bg-danger">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the fourth card</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" row">
      <div class="col-md-12">
        <div class="card-deck">
          <div class=" text-center">
            <p class="card-text courseDetail">Course Detail</p>
          </div>
          <div class=" text-center">
            <p class="card-text courseDetail">Course Detail</p>
          </div>
          <div class=" text-center">
            <p class="card-text courseDetail">Course Detail</p>
          </div>
          <div class=" text-center">
            <p class="card-text courseDetail">Course Detail</p>
          </div>
          <div class=" text-center">
            <p class="card-text courseDetail">Course Detail</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="buttonRectangle">
          <p class="trainerProfile">Trainer Profile</p>
        </div>
        <div class="joinRectangle">
          <p class="joinNow">Join Now</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</div>

